<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.examples.your.ednevnik">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.orm.SugarApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/ThemeApp">
        <meta-data
            android:name="DATABASE"
            android:value="ednevnik.db" />
        <meta-data
            android:name="VERSION"
            android:value="7" />
        <meta-data
            android:name="QUERY_LOG"
            android:value="true" />
        <meta-data
            android:name="DOMAIN_PACKAGE_NAME"
            android:value="com.examples.your.ednevnik" />

        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.Dark">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Profesor.ProfesorLogin"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Profesor.ProfesorRegister"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Ucenik.StudentLogin"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Ucenik.StudentRegister"
            android:theme="@style/AppTheme.Dark" />
        <activity
            android:name=".Profesor.Navi_main"
            android:theme="@style/ThemeApp.Light"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Profesor.Dodaj_predmet"
            android:theme="@style/ThemeApp.Light" />
        <activity
            android:name=".Profesor.DodajOcijenu"
            android:theme="@style/ThemeApp"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Profesor.UrediObrisiOcjenu"
            android:theme="@style/ThemeApp"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Profesor.DodajIzostanak"
            android:theme="@style/ThemeApp"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Profesor.ViewOcjeneStudent"
            android:theme="@style/ThemeApp.Light"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".Profesor.ViewIzostanciStudent"
            android:theme="@style/ThemeApp.Light"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".Ucenik.StudentNavDraw"
            android:theme="@style/ThemeApp.Light"
            android:windowSoftInputMode="adjustPan"></activity>
    </application>

</manifest>